.hero{
    width: 100%;
    min-height: 100%;
}

.skills_content{
    position: absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left: 50%;
    text-align: center;
}

.skills_container {
  border:5px double white;
  width:300px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all .3s ease-in-out;
  box-shadow: 0 0 20px 3px white;
}

.skills_container:hover{
    transform: scale(1.03);
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 20px 4px white;
}

.skills_container h1{
    margin-bottom: 30px;
}

.skills_content{
    display: flex;
    flex-direction: row;
    gap:60px;
    color:white;
}

.skills_list li {
  margin: 10px 0;
  font-weight: bold;

}


@media screen and (max-width:670px){
    .skills_container{
        width: 250px;
        height: 450px;
    }
}
